<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends "mybase.html" %}

{% block content %}

<p></p>
<p></p>

<!--route recommand-->
<div class="container">
    <br>
    <h2>熱門景點</h2>
    <table class="table table-hover">
        <p>　</p>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                請選擇地區
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="keelung_hot">基隆市</a>
                    <a class="dropdown-item" href="taipei_hot">台北市</a>
                    <a class="dropdown-item" href="new_taipei_hot">新北市</a>
                    <a class="dropdown-item" href="taoyuan_hot">桃園市</a>
                    <a class="dropdown-item" href="hsinchu_hot">新竹縣市</a>
                    <a class="dropdown-item" href="yilan_hot">宜蘭縣</a>
                </div>
            </button>
        </div>
        <br>
    </table>

    <table class="table table-hover" align="center" width="50" -md>
        <thead class="thead-dark">
        <tr>
            <th>景點名稱</th>
        </tr>
        </thead>

        <tbody>
        {% for place_each in final_list %}
        <tr>
            <th>{{place_each.get('出發')}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>

                <br>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; TibaMe x 資策會中壢中心 2020. All Rights Reserved.</p>
                        <p>Designed by Spedes Group</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
{% endblock %}