<!DOCTYPE html>
<html lang="en">
{% extends "mybase.html" %}

{% block content %}
<p></p>
<p></p>
<!--register-->
<div>
  <table align="center" width="20%">
    <tbody>
      <tr>
        <td align="ceter" valign="top">
            <div>
            <h1>會員登入</h1>
                <br>
                <form action="/">
                <div class="form-group">● 帳號：
                    <input type="text" id="usr" name="username" class="form-control">
                </div>
                <div class="form-group">● 密碼：
                    <input type="password" id="pwd" name="password" class="form-control">
                </div>
                    <br>
                <button type="submit" class="btn btn-primary" >登入</button>
                </form>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p>　</p>
<!--footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>

                <br>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; TibaMe x 資策會中壢中心 2020. All Rights Reserved.</p>
                        <p>Designed by Spedes Group</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
{% endblock %}